
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="connexion">
        <h2>connexion</h2>
    </div>
  
    <div class="formulaire">
        <form method="get" action="/">
            <div class="container-form">
            <label for="adress">adresse mail</label>: <input type="email" name="adress" id="adress" required>
        </div>
        
        <div class="container-form">
            <label for="password">mot de passe</label>: <input type="password" name="password" id="password">
        </div>
        <div class="container-form">
            <input type="checkbox" name="choix" id="bot"> <label for="bot">je ne suis pas un robot</label>
        </div>
            <input type="submit" value="connexion">
        </form>
    </div>
    
</body>
</html>

