<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulaire d'Inscription</title>
</head>
<body>

 <div class="inscription">
    <h2>Inscription</h2>
 </div>

  <form action="/traitement-du-formulaire" method="post">
    <!-- Champ de saisie pour le prénom -->
    <label for="prenom">Prénom :</label>
    <input type="text" id="prenom" name="prenom" required>

    <br>

    <!-- Champ de saisie pour le nom -->
    <label for="nom">Nom :</label>
    <input type="text" id="nom" name="nom" required>

    <br>

    <!-- Champ de saisie pour l'adresse e-mail -->
    <label for="email">Adresse e-mail :</label>
    <input type="email" id="email" name="email" required>

    <br>

    <!-- Champ de saisie pour le nouveau mot de passe -->
    <label for="motDePasse">Nouveau mot de passe :</label>
    <input type="password" id="motDePasse" name="motDePasse" required>

    <br>

    <!-- Bouton de soumission -->
    <button type="submit">S'inscrire</button>
  </form>

</body>
</html>
