.inscription{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}


.prenom{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}