.inscription{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}


.formulaire{
    text-align: center;
    background-color: white;
   width: 350px;
   padding: 20px;
   margin:auto;
   border-radius: 15px;
   
    
}